---
import Layout from "../layouts/Layout.astro";
import Home from "@/components/Home.tsx";
---

<Layout title="😘">
  <div class="flex flex-col items-center justify-center">
    <Home />
  </div>
</Layout>
